<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">There were some errors:</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
