<div class="row">
  <div class="w-100">
    <%= month_calendar events: @events_in_range do |date, events| %>
      <%= render partial: "calendar_day", locals: { date: date, events: events } %>
    <% end %>
  </div>
</div>


<%# Filtering options card %>
<div class="card mt-4">
  <div class="card-header bg-dark">
    <h5 class="mb-0 text-white"><i class="bi bi-funnel me-2"></i> Filter Events</h5>
  </div>
  <div class="card-body">
    <%= form_with url: calendar_path, method: :get, class: "row g-3 align-items-end", id: "filter-form" do |form| %>
      <div class="col-md-12">
        <%= form.select :group_filter,
                        [["All Groups", "all"]] +
                        @user_groups.map { |g| [g.personal? ? "My Events" : g.name, g.id] },
                        { selected: @group_filter },
                        { class: "form-select", onchange: "this.form.submit();" } %>
      </div>
    <% end %>
  </div>
</div>
