<div class="card">
  <div class="card-header bg-dark">
    <h5 class="mb-0 text-white"><i class="bi bi-calendar-plus me-2"></i> Edit Group</h5>
  </div>
  <div class="card-body">
    <%= render "form", group: @group %>
  </div>
</div>
